@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors ease-in duration-200;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.go-to-github-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(147, 51, 234);
  transition: width 0.3s;
}

.go-to-github-link:hover::after {
  width: 100%;
}
