@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors ease-in duration-200;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.go-to-github-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(147, 51, 234);
  transition: width 0.3s;
}

.go-to-github-link:hover::after {
  width: 100%;
}

.loading {
  @apply rounded-full w-[30px] h-[30px] bg-purple-700;
  animation: load 0.6s ease infinite;
}

.loading.one {
  animation-delay: 0.1s;
}

.loading.two {
  animation-delay: 0.2s;
}
.loading.three {
  animation-delay: 0.3s;
}

@keyframes load {
  0% {
    width: 30px;
    height: 30px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}
